.current-weather {
  width: 65%;
  height: 50%;
  margin: auto;
  display: grid;
  align-items: center;
}

@media screen and (max-width: 1270px) {
  .current-weather {
    width: 100%;
  }
}

.current-weather > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
