* {
  font-family: Tahoma, Verdana, sans-serif;
}

body {
  background: linear-gradient(to right, #c8f0ff 60%, #f3f3f3);
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.warning {
  color: red;
  text-align: center;
}
